<%= link_to("<< Back to List", sections_path(:page_id => @page.id), :class => 'back-link') %>

<div class="section edit">
  <h2>Edit Sections</h2>
   <%= form_for(@section, :url => sections_path(@section, :page_id => @page.id)) do |f|  %>
   <%= render(:partial => 'form', :locals => {:f => f}) %>
   <div class="form_buttons">
     <%= f.submit("Update Section") %>

   </div>
   <% end %>

</div>
